.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*map.js*/
.mapRow {
  display: flex;
  border-right: 1px solid grey;
}
.mapRow:last-child {
  border-bottom: 1px solid grey;
}

/*cell.js*/
.cell {
  border: 1px solid grey;
  border-bottom: none;
  border-right: none;
  cursor: cell;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  height: 20px;
  padding: 0;
  text-align: right;
  vertical-align: bottom;
  width: 150px;
  /* display: block; */
  /* white-space: normal; */
  /* border-collapse: collapse; */
  /* border-spacing: 2px; */
}
